<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ contact.name }}</title>
</head>

<body>

<p>{{ contact.name }}</p>
<p>{{ contact.favorite_artist }}</p>
<p>{{ contact.favorite_album }}</p>
<p>{{ contact.favorite_song }}</p>
<p>{{ contact.age }}</p>

<div>
    <img src="{{ contact.photo.url }}" alt="Photo of contact">
</div>

</body>

</html>