<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FavQs in Vue</title>
    <link rel="stylesheet" href="./css/site.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 
</head>
<body>
    <div id="app">
        <h1>Quotes</h1>
        <h2 v-for="quotes in quote">"{{ quote.body }}" - {{ quote.author }} </h2>

        <form @submit.prevent="searchQuote">
            <input type="text" placeholder="Search by keyword" v-model="keyword">
            <input type="submit" value="search">
        </form>
        <br>

        <form @submit.prevent="searchTag">
            <input type="text" placeholder="Search by tag" v-model="tag">
            <input type="submit" value="search">
        </form>
        <br>

        <form @submit.prevent="searchAuthor">
            <input type="text" placeholder="Search by author"  v-model="author">
            <input type="submit" value="search">
        </form>
        
        <ul>
            <li v-for="quote in quoteResults">{{ quote.body }} | {{ quote.author}}</li>
        </ul>

        <button @click="prevPage">Back</button>
        <br>
        <button @click="nextPage">Next</button>
        
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="./js/site.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script> -->
</body>
</html>