<!DOCTYPE html>
<html lang = "en">
    <head>
    <title>Unit Converter</title>
    </head>
    <body>
        <h1>Unit Converter</h1>
        <h3>Enter the number of miles you want to convert to kilometers:</h3>
        <p>
            <form action = "/unit-converter/" method = "POST">
                <input name = "miles" placeholder = "Enter number of miles" type = "number">
                <input type="submit" value="submit">
            </form>
        </p>
        <h3>That would be {{result}} kilometers.</h3>
        <p>
            <a href="/">Home</a>
        </p>
    </body>
</html>