<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>New Blog Post</title>
</head>
<body>
    <header><h1>Add Blog Post</h1></header>
    <main class="submit-body">
        <section class="submit-section">
            <article class="article-content">
                <form action="/submit_blog/" method="POST">
                    <div class="side-by-side">
                        <div class="form-body">
                            <input name="title" placeholder="Title" type="text">
                            <input name="author" placeholder="Author" type="text">
                            <input name="date" placeholder="Date" type="text">
                            <textarea name="body" rows="5" placeholder="Body of the post"></textarea>
                            <input name="image" placeholder="Image name (put new image in static folder)" type="text">
                        </div>
                        <input type="submit" value="Create New Post">
                    </div>
                </form>
            </article>
        </section>
    </main>
</body>
</html>