<!DOCTYPE html>
<html lang="en">
<head>
	{% load crispy_forms_tags %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NFL</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body class="container">
	{% for message in messages %}
	<div class="container-fluid p-0">
		<div class="alert {{ message.tags }} alert-dismissible" role="alert" >
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			{{ message }}
		</div>
	</div>
	{% endfor %}


	<ul>
		{% for player in players %}
			<li>{{ player }} is a {{ player.position }} for {{ player.team }}</li>
		{% endfor %}
		</ul>
		
		<form action="/" method="POST">
			{% csrf_token %}
			{{ form|crispy }}
			<input type="submit" value="submit">
		</form>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>