<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Astrophotography</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sacramento&family=Sorts+Mill+Goudy&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    </head>
<body class="bg">
    <nav id="titlebar">
        <section id="title">
            Astrophotography
        </section>
        <section id="titlenav">
            <article><a href="/">HOME</a></article>
            <article><a href="/about/">ABOUT</a></article>
            <article><a href="/posts/">POSTS</a></article>
            <article><a href="/photos/">PHOTOS</a></article>
        </section>
    </nav>
    <footer>
        <article id="socials">
            <a href="https://www.facebook.com">
                <img src="/static/facebook.png" alt="Facebook Link">
            </a>
            <a href="https://www.pinterest.com">
                <img src="/static/pinterest.png" alt="Pinterest Link">
            </a>
            <a href="https://www.twitter.com">
                <img src="/static/twitter.png" alt="Twitter Link">
            </a>
            <a href="https://www.youtube.com">
                <img src="/static/youtube.png" alt="YouTube Link">
            </a>
        </article>
        <article id="fttitle">
            Astrophotography<br>
            by<br>
            Scott Cormack
        </article>
    </footer>
</body>
</html>