{% extends 'market_run/base.html' %}


{% block content %}
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col">Item</th>
              <th scope="col">Date Added</th>
              <th scope="col">Date bought</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for grocery_item in grocery_items %}
              <tr>
                <td>                
                  <div class="form-check">
                    <form action="{% url 'market_run:bought' grocery_item.id %}">
                      {% csrf_token %}
                      <input type="submit" class="btn btn-primary" value="Bought" id="bought">
                    </form>
                  </div>
                  <th scope="row">{{grocery_item.id}}</th>
                    <td>{{ grocery_item.item }}</td>
                    <td>{{ grocery_item.date_added }}</td>
                    <td>{{ grocery_item.date_bought }}</td>
                    <td>{{ grocery_item.id }}</td>
                    <td>
                      <form action="{% url 'market_run:delete_item' grocery_item.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Remove" id="delete_item">
                      </form>                      
                    </td>
                  </label>
                </td>
              </tr>
            {% endfor %}
          </tbody>
    </table>
</div>


<!-- add an item -->

<form action="{% url 'market_run:added_item' %}" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label for="add_item" class="form-label">Add item to list</label>
    <input type="text" class="form-control" id="add_item" name="new_item">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}