

{% block body %}
<h1>Grocery List</h1>
<p>{{ grocery_list }}</p>
{% for item in grocery_list %}
    <li>
		<span {% if item.completed %} class="completed" {% endif %}>
			{{ item.description }}
		</span>
		<a href="{% url 'list:delete' %}">
			<button>Delete</button>
		</a>
		{% if item.completed == False %}
		<a href="{% url 'list:complete' %}">
			<button>Complete</button>
		</a>
		{% endif %}
	</li>
{% endfor %}



<form method="POST" action="/list/">{% csrf_token %}
    {{ grocery_item_form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>

<ul>
	{% for item in incomplete_groceries %}
	<li>
		<span>
			{{ item.description }} #name of item
		</span>
		<a href="{% url 'list:delete' %}">
			<button>Delete</button>
		</a>
		{% if item.completed == False %}
		<a href="{% url 'list:complete' %}">
			<button>Complete</button>
		</a>
		{% endif %}
	</li>
	{% endfor %}
</ul>

<h3>Bought</h3>
<ul>
	{% for item in completed_groceries %}
	<li>
		<span>
			{{ item.description }}
		</span>
		<a href="{% url 'grocery_list:delete' item.id %}">
			<button>Delete</button>
		</a>
		{% if item.completed == False %}
		<a href="{% url 'grocery_list:complete' item.id %}">
			<button>Complete</button>
		</a>
		{% endif %}
	</li>
	{% endfor %}
</ul>

{% endblock %}

