<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Programming 101 Redux</title>
    </head>
    <body>
        <h1>Programming 101 Redux</h1>
        <h3>Choose a 101 project to check out:</h3>
        <p>
            <a href="/password-generator/">Click for a 10 character password!</a>
        </p>
        <p>
            <a href="/magic-8-ball/">Ask a question outloud and click for a prediction!</a>
        </p>
        <p>
            <a href="/random-emoticon/">Generate a random emoticon!</a>
        </p>
    </body>
</html>