<h1>Unit Converter</h1>
<form action="/unit-converter/" method="post">
    <input type="number" name="distance" value="0"/>
<div>
    <label for="unit_in">start unit:</label>
    <select name="unit_in" id="unit_in">
        <option value="ft">ft</option>
        <option value="mi">mi</option>
        <option value="km">km</option>
        <option value="yd">yd</option>
        <option value="in">in</option>
    </select>
    </div>
    <div>
    <label for="unit_out">end unit:</label>
    <select name="unit_out" id="unit_out">
        <option value="ft">ft</option>
        <option value="mi">mi</option>
        <option value="km">km</option>
        <option value="yd">yd</option>
        <option value="in">in</option>
    </select>
</div>    
    <button type="submit">submit</button>
</form>

{{ distance }}
<h1>Anagram identifier</h1>
<div>
    <form action="/anagram/" method="post">
        <div>
        <input type="text" name="first" value="first word"/>
    </div>
    <div>
        <input type="text" name="second" value="second word"/>
    </div>
    <div>

        <button type="submit">submit</button>
    </div>
    </form>
{{ words }}
</div>


