<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div class="container-fluid">

    <h1>{{ this_user }}'s Posts</h1>
    <ul>
        {% for post in current_user %} 
            <li>
                <h2>{{ post.user }}</h2>
                <h3>{{ post.text }}<br></h3>
                {{ post.created_date }}
                <hr>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="container-fluid">

</body>
</html>