<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ city }} Update</title>


	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
	<h1>{{ city.name }}</h1>

	<div class="row">
		<form action="{% url 'cities_app:update_city' city.slug %}" method="POST" enctype="multipart/form-data" class="col s12">
			{% csrf_token %}

			<div class="row">
				<div class="input-field col s6">
					<input id="name" type="text" class="validate" name="name" value="{{ city.name }}">
					<label for="name">Name</label>
				</div>
				<div class="input-field col s6">
					<input id="country" type="text" class="validate" name="country" value="{{ city.country }}">
					<label for="country">Country</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s6">
					<input id="food" type="text" class="validate" name="food" value="{{ city.food }}">
					<label for="food">Food</label>
				</div>
				<div class="input-field col s6">
					<input id="population" type="number" class="validate" name="population" value="{{ city.population }}">
					<label for="population">Population</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<textarea id="description" class="materialize-textarea" name="description">{{ city.description}}</textarea>
					<label for="description">Description</label>
				</div>
			</div>

			<button class="btn waves-effect waves-light" type="submit">Submit
			</button>

		</form>
	</div>
</body>

</html>