<h1>Password Generator</h1>
<h4>Enter how long you want the password to be and how many letters, numbers, and punctuation you want.</h4>
<form action="/password-generator/" method="POST">
    <input name="letters" placeholder="number of letters" type="text" />
    <input name="numbers" placeholder="number of numbers" type="text" />
    <input name="punctuation" placeholder="number of punctuation" type="text" />
    <input type="submit" value="submit">
</form>
{% if new_password %}
<p>Passwrod is {{ new_password }}</p>
{% endif %}

<a href="/">Home</a>