*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
}
.posts{
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 500px; */
    /* flex-direction: column; */
    /* justify-content: left; */
    border: 5px solid red;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
}
.posts > *{
    background-color: blue;
    width: 300px;
    height: 300px;
	margin: 10px;
	padding-left: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
}
.side-nav{
    /* display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row: 20% 80%; */
}

.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    width:20vh;
    /* width: 200px;
    height: 200px; */
}

.top-nav *{
    background-color: blue;
    
}

.side-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;
    position: absolute;
    /* align-items: baseline; */
    width: 200px;
    height: 200px;
    /* margin-left: 10px;
    margin-top: 100px; */
    /* flex-wrap: wrap;   */
}

.side-nav *{
    /* display: flex;
    /* justify-content: space-between;
    align-items: ; */
    /* margin-left: 500px;
    margin-top: 100px; */
     
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
/* span{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
} */