:root {
	--yellow: #fbbbad;
	--peach: #ee8695;
	--bluish: #4a7a96;
	--dark-bluish: #333f58;
	--gray: #292831;
}
body {
	background-color: #272727;
	font-family: 'Helvetica, sans-serif', font-variant= small-caps;
}
main {
	/* 80% the height of the viewport */
	height: 80vh;
	/* display: flex makes main a flex container */
	display: flex;
	/* flex-wrap determines how (and whether) elements wrap
	around to the next line */
	flex-wrap: wrap;
	/* flex-direction: row (left to right) is the default
	flex-direction: column is top to bottom */
	/* flex-direction: column; */ 
	padding: 20px;
	/* justify content controls the spacing of main's flex
	children along the main (horizontal, in this case) axis
	space-evenly leaves even spacing along the axis*/
	justify-content: space-evenly;
}
article {
	background-color: var(--yellow);
	height:225px;
	width: 350px;
	margin: 15px;
	/* flex stuff */
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* use multiplie selectors with commas */
h1, a, h3, p{
	color: #b6ddd3;
}
li{
	color: #66697a;
    list-style-type: "\1F4BF" /* Optical Disk Emoji*/
}
p {
	padding-left: 50px;
	text-align: center;
}
#quote{
    color: whitesmoke;
    font-family: 'Spectral', serif;
    font-size: 2.5em;
}
#name{
    color: whitesmoke;
    font-family: 'Knewave', cursive;
    font-size: 1em;
    text-align: right;
    padding-right: 20%;
}

h3 {
	margin-left: 25px;
	padding-left: 25px;
}

div {
	margin: 0 auto;
}

img {
    display: block;
	width: 525px;
	/* height: 150px; */
	/* width: 50%; */
	/* width: 80vw; */
    border-radius: 200px;
	margin-left: auto;
    margin-right: auto;
}



a { 
    margin-left: 25px;
	padding-left: 25px;
	color: #34ebba;
}

a:visited {
    margin-left: 25px;
	padding-left: 25px;
	color: #77cae6;
}