<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="Grocery List" content="width=device-width, initial-scale=1.0" />
    <title>Grocery List</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <h3>Items to Purchase</h3>
    <table>
      <tr>
        <th>Item</th>
        <th>Date Added</th>
      </tr>
      {% for item in groceries %}
      <tr>
        <td>{{item.item|title}}</td>
        <td>{{item.date_added}}</td>
        <td>
          <form action="{% url 'purchased_item' item.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Purchase Item" />
          </form>
        </td>
        <td>
          <form action="{% url 'delete_item' item.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete" />
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    <h3>Items Already Purchased</h3>
    <table>
      <tr>
        <th>Item</th>
        <th>Date Purchased</th>
      </tr>
      {% for item in bought %}
      <tr>
        <td>{{item.item|title}}</td>
        <td>{{item.date_bought}}</td>
        <td>
          <form action="{% url 'delete_item' item.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete" />
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% include 'item_form.html' %}
    <footer>{% include 'footer.html' %}</footer>
  </body>
</html>
