<h1>Contacts</h1>


<ul>
    <li><a href="/Megan">Megan</a></li>
    <li><a href="/Bree">Bree</a></li>
    <li><a href="/Nat">Nat</a></li>
    <li><a href="/Sam">Sam</a></li>
</ul>

<br>

<h3>Add a new contact</h3>

<form action="/", method="POST">
    <input type="text" name="name" placeholder="Enter your name" />&nbsp;
    <input type="text" name="favorite artist" placeholder="Enter your favorite artist" />&nbsp;
    <input type="text" name="favorite album" placeholder="Enter your favorite album" />&nbsp;
    <input type="text" name="favorite song" placeholder="Enter your favorite song" />&nbsp;
    <input type="submit" name="submit" />
</form>

