{% extends 'lab03_app/base.html' %}

{% block title %}
<title>Chrip</title>
{% endblock %}

{% block content %}
<div class="container pb-2 border">

    <form class="row" action="{% url 'lab03_app:chirp' %}" method="POST">
        {% csrf_token %}
        <div class=" ps-5 mb-3">
            <textarea placeholder="chirp away" name="chirp" class="form-control shadow-none border-0" id="chrip"
                rows="3"></textarea>
        </div>
        <div class="d-grid flex justify-content-end">
            {% if user.is_authenticated %}
            <button type="submit" class="btn btn-primary rounded-pill">
                Chirp
            </button>
            {% else %}
            <button type="submit" disabled class="btn btn-primary rounded-pill">
                Chirp
            </button>
            {% endif %}
        </div>
    </form>
</div>

<section>
    {% for chirp in chirps %}
    <article class="border pt-1">
        <a style="color: black ; text-decoration: none;" href="{% url 'lab03_app:chirp_comments' chirp.id %}">
            <span>
                <p class="ps-2 fw-bold">{{chirp.user}} <span class="fw-light">
                        {{ chirp.created_at|timesince}} ago </span></p>
            </span>
            <div class="ps-2 pt-1">
                {{ chirp.chirp }}
            </div>
        </a>
        <div>
            <span>
                <a class="col-2" style="text-decoration: none;" href="{% url 'lab03_app:likes' chirp.id %}">
                    <button class="btn" type="submit" name="like"><i class="fa fa-heart"></i>
                        {{ chirp.likes.count }}</button>
                </a>
                <span class="col-2">
                    <button class="btn">
                        <i class="fa fa-comments"></i> {{ chirp.comment.all.count }}
                    </button>
                </span>
            </span>
        </div>
        <div class="d-grid flex justify-content-end">
            {% if user.is_authenticated %}
            {% if user.id == chirp.user.id %}

            <a class="pe-2" href="{% url 'lab03_app:delete' chirp.id %}">
                Delete
            </a>
            {% endif %}
            {% endif %}
        </div>
        {% endfor %}
    </article>
</section>

{% endblock %}