<h1>Blackjack Advice</h1>

<h4>Choose 3 cards:</h4>
<form action="/advice/" method="POST">

	<select name="card1">
		<option value="1">&nbsp;A</option>
		<option value="2">&nbsp;2</option>
		<option value="3">&nbsp;3</option>
		<option value="4">&nbsp;4</option>
		<option value="5">&nbsp;5</option>
		<option value="6">&nbsp;6</option>
		<option value="7">&nbsp;7</option>
		<option value="8">&nbsp;8</option>
		<option value="9">&nbsp;9</option>
		<option value="10">10</option>
		<option value="10">&nbsp;J</option>
		<option value="10">&nbsp;Q</option>
		<option value="10">&nbsp;K</option>
	</select>

	<select name="card2">
		<option value="1">&nbsp;A</option>
		<option value="2">&nbsp;2</option>
		<option value="3">&nbsp;3</option>
		<option value="4">&nbsp;4</option>
		<option value="5">&nbsp;5</option>
		<option value="6">&nbsp;6</option>
		<option value="7">&nbsp;7</option>
		<option value="8">&nbsp;8</option>
		<option value="9">&nbsp;9</option>
		<option value="10">10</option>
		<option value="10">&nbsp;J</option>
		<option value="10">&nbsp;Q</option>
		<option value="10">&nbsp;K</option>
	</select>

	<select name="card3">
		<option value="1">&nbsp;A</option>
		<option value="2">&nbsp;2</option>
		<option value="3">&nbsp;3</option>
		<option value="4">&nbsp;4</option>
		<option value="5">&nbsp;5</option>
		<option value="6">&nbsp;6</option>
		<option value="7">&nbsp;7</option>
		<option value="8">&nbsp;8</option>
		<option value="9">&nbsp;9</option>
		<option value="10">10</option>
		<option value="10">&nbsp;J</option>
		<option value="10">&nbsp;Q</option>
		<option value="10">&nbsp;K</option>
	</select>

	<input type="submit" value="Advise me!" />
	
</form>