<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Echo Chamber</title>
</head>
<body>
    <style>
        label, input {display:block;}
        span.helptext {display:none}
    </style>
    <h1>Dollar Store Echo Chamber App</h1>
    <hr>
    {% block content %}
    {% endblock %}
    <footer>
        <hr />
        <h3>Made by Jank Studios</h3>
        <h4>Handing you the jankest of apps since August, 2021</h4>
      </footer>
</body>
</html>