{% extends 'chirp/base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<main>
    <div>
    {% for post in posts %}  
        <article>
            <block>
                <a href="{% url 'app_chirp:profile' post.author.id %}" > <h3>{{ post.author }}</h3></a> 
                
                <p id="quote">{{ post.body }}</p>
                <p>{{ post.time }}</p>
                {% if user.id == post.author.id %}
                <a href="{% url 'app_chirp:delete' post.id %}">
                    <button>Delete</button>                
                </a>
                {% endif %}
            </block>
        </article>
    {% endfor %}
    </div>
    
</main>
{% else %}
<main>
    <h1>Please login or register</h1>
</main>
{% endif %}
{% endblock %}