<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee around town</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
        
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
    
    <header>

        <h1>Our favorite things</h1>

        <nav>
            <a href="about.html">About</a>
            <a href="other-favorites.html">Other favorites</a>
            <a href="#">Contact Us!</a>
        </nav>

    </header>
    
    <main>
        
        <div id="section">
        <h2>Best coffee in Portland</h1>
        <section>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero sed ad officia nam, pariatur ipsum cum minima excepturi obcaecati quasi modi similique? Error nisi velit perspiciatis tenetur, totam architecto sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi distinctio quisquam omnis dolores numquam enim quae quam, commodi doloribus accusamus temporibus ducimus voluptatibus eius provident magnam, ullam laboriosam blanditiis deleniti!!</p>
        </section>
        </div>

        {% for post in posts %}

        <article>
            <div id="first">
                <h3>Title: {{ post['title'] }}</h3>
                <p>{{ post['body'] }}</p>
                <p>Submitted by: Author: {{ post['author'] }}</p>
            </div>
            
            <img src="{{ post['image'] }}" alt="coffee shops" />
            
        </article>

        {% endfor %}

    </main>

<footer>
    <form>
        <input type="text" placeholder="Join our mailing list!">
        <input type="submit" name="submit">
    </form>
</footer>

</body>

</html>