<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block title %}
	<title>ASOIAF Wiki</title>
	{% endblock %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>

	<style>
		.margin {
			margin-top: 3rem;
			margin-bottom: 3rem;
		}
	</style>
</head>
<body class="blue-grey-text text-darken-4 blue-grey lighten-4">
	<nav class="red accent-4" role="navigation">
		<div class="nav-wrapper container"><a id="logo-container" href="{% url 'wiki:index' %}" class="brand-logo">Home</a>
      <ul class="right hide-on-med-and-down">
				<li><a href="#">Navbar Link</a></li>
      </ul>
			
      <ul id="nav-mobile" class="sidenav">
				<li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
	
	<main class="container">
	{% block content %}
	{% endblock %}
	</main>

  <footer class="page-footer red accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			const elems = document.querySelectorAll('.materialboxed')
			const instances = M.Materialbox.init(elems)
		})
	</script>

</body>
</html>