{% extends 'wiki/base.html' %}

{% block title %}
<title>this is the index</title>
{% endblock %}

{% block content %}
<table class="highlight">
	<thead>
		<tr>
			<th>Name</th>
			<th>Locations Visited</th>
			<th>House</th>
			<th>Words</th>
			<th>Sigil</th>
		</tr>
	</thead>

	<tbody>
		{% for character in characters %}
		<tr>
			<td>{{ character.name }}</td>
			<td>
			{% for location in character.locations_visited.all %}
				{{ location }} 
			{% endfor %}
			</td>
			<td><a class="red-text text-accent-4"href="{% url 'wiki:house' character.house.id %}">{{ character.house }}</a></td>
			<td>{{ character.house.words }}</td>
			<td>{{ character.house.sigil_description }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}