<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Computed Properties & Filter</title>
	<script src="https://unpkg.com/vue@next"></script>
</head>
<body>
	<div id="app">
		<h3>add a num</h3>
		<form @submit.prevent="addNum">
			<input type="number" v-model="newNum">
			<button type="submit">add</button>
		</form>
		<h3>nums</h3>
		<ul>
			<li v-for="num in nums">{{ num }}</li>
		</ul>
		<h3>even nums</h3>
		<ul>
			<li v-for="num in evenNums">{{ num }}</li>
		</ul>
		<h3>odd nums</h3>
		<ul>
			<li v-for="num in oddNums">{{ num }}</li>
		</ul>
	</div>
	<script>
		const App = {
			data() {
				return {
					nums: [1, 3, 7, 2, 8, 9, 4],
					newNum: 0
				}
			},
			computed: {
				evenNums() {
					return this.nums.filter(num => num % 2 === 0)
				},
				oddNums() {
					return this.nums.filter(num => num % 2 === 1)
				}
			},
			methods: {
				addNum() {
					this.nums.push(this.newNum)
				}
			}
		}
		Vue.createApp(App).mount('#app')
	</script>
</body>
</html>