<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DBrunken</title>

    <!-- vuetify CDN -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
</head>

<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container fluid class="d-flex main">
                    <v-row class="d-flex justify-space-between" style="width: 100%;">
                        <v-img style="width: 100%;" max-height="150" max-width="500" src="C:\Users\David\class_lemur\code\dbrunken\HTML_CSS\Portfolio\static\34 - sbQTI6E.jpg" alt="circuit board"></v-img>
                        <v-avatar>
                            <img src="C:\Users\David\class_lemur\code\dbrunken\HTML_CSS\Portfolio\static\20210228_145037.jpg" alt="Dbrunk and friend">
                        </v-avatar>
                        <h1>Hello!</h1>
                            <p>
                                I'm David, the tall one in my profile picture.
                            </p>
                            <p>
                                Full-Stack Developer in the making! I have an inclination to study anything that fascinates me and figure out how it works from the base level. I am intrigued by technology, especially on the mechanical engineering side, and how it correlates with the growing technological world. I have a wide variety of world and work experience, from my time in the Marine Corps as an Anti-Tank Missileman to working and fixing vehicles, which has now become a fond hobby.
                            </p>
                            <p>
                                Tech Skills:
                                In my recent pursuit of software engineering, I have been learning several languages and will graduate with knowledge of different frameworks and tools. These include: | Python | JavaScript | CSS | HTML | Django | Vue | Git and Github | HTTP | REST APIs | and much more.
                            </p>
                            <p>
                                Work History:
                                Helicopter and auto mechanic. Former heavy weapons Marine.
                            </p>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: "#app",
            vuetify: new Vuetify(),
        });
    </script>
</body>

</html>