body {
    background-color: #A91B60;
    font-family     : 'Righteous', cursive;
}

nav {
    background-color: #EBE0D0;
    font-size       : xx-large;
}

#break {
    background-color: #FF0080;
}

h1 {
    font-size: 50px;
    color: #EBE0D0;
}

h2 {
    font-size: x-large;
    color: #EBE0D0;
}

h3 {
    font-size: large;
    color: #EBE0D0;
}

#sup-img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}