<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes in Vue</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js" defer></script>
    
</head>
<body>
    <div id="app">
        <h1>Favorite Quotes</h1>
        <h2>said by famous people</h2>
        <p v-for="quote in dailyQuote">{{ quote }}</p>
        <form @submit.prevent="searchFavQ">
            <input type="text" v-model="searchTerm">
            <input type="submit" value="search">
        </form>
        <h4>Search Results</h4>
        <ul>
            <li v-for="result in searchResults">{{ result.quote}}</li>
        </ul>
    </div>
</body>
</html>