

body {
	background-color: #272727;
	font-family: 'Helvetica, sans-serif', font-variant= small-caps;
}

/* use multiplie selectors with commas */
h1, a, h3, p{
	color: #b6ddd3;
}
li{
	color: #667a75;
}
p {
	padding-left: 50px;
	text-align: center;
}



h3 {
	margin-left: 25px;
	padding-left: 25px;
}

div {
	margin: 0 auto;
}

img {
    display: block;
	width: 525px;
	/* height: 150px; */
	/* width: 50%; */
	/* width: 80vw; */
	margin-left: auto;
    margin-right: auto;
}



a { 
    margin-left: 25px;
	padding-left: 25px;
	color: #34ebba;
}

a:visited {
    margin-left: 25px;
	padding-left: 25px;
	color: #77cae6;
}