<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Vue</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js" defer></script>
</head>
<body>
    <div id="app">
        <span>{{ message }}</span>
        <form @submit.prevent="submitForm">
            <input type="text" v-model="inputText">
            <input type="submit" value="add to list">
        </form>
        <ul v-if="todos">
            <h3>To-Do Tasks</h3>
            <li v-for="todo in todos" @click="doneItem(todo)" >{{ todo.item }}</li>
        </ul>
        <ul>
            <h3>Done Tasks</h3>
            <li v-for="done in doneDo">{{ done.item }}
                <button v-if="doneDo" class="btn-primary btn-sm" @click="incompleteItem(done)">Incomplete</button>
                <button v-if="doneDo" class="btn-dark btn-sm" @click="deleteItem(done)">Delete</button>
            </li>
        </ul>
    </div>
    
</body>
</html>