{% extends 'posts/base.html' %}
{% load static %}

{% block content %}

<h1 class="text-center">Chirp, Chirp Birdie</h1>
<article class='container'>
  <div class="row">
    <div class="col-md-3" style="position:fixed">
      <p>Put USER PROFILE HERE</p>
    </div>
    <div class="col-md-9 container">
      <div class="row">
        <div class="col-9">
        <form action="{% url 'posts:make_post' %}" method="POST">
          {% csrf_token %}
          <label for="content">New Post</label>
          <textarea class="form-control m-3" type="text" id="content" name="content" style="height: 100px"></textarea>
        </div>
        <div class="col-3">
          <button class='btn btn-success d-flex justify-content-center align-items-center' type="submit">Post</button>
        </div>
        </form>
      </div>
      <ul>
        {% for post in posts %}
        <li class="border border-dark row">
        <div class="col-3">
          {{ post.user.user_image }}
        </div>
        <div class="col-9">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">{{ post.user.user_name }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">{{ post.content }}</th>

              </tr>
              <tr>
                <td scope="row">{{ post.date_time }}</th>
              </tr>
            </tbody>
          </table>



        </div>

        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</article>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>

{% endblock %}