<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>{{ author }}</title>
</head>

<body class="container">
    <h1>{{ author }}</h1>
    <form action="{% url 'lab02_app:index' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <p>Enter your name and select the book you want to check out.</p>
            <div class="mb-3 col">
                <input type="text" class="form-control" id="user_name" name="user_name">
            </div>
            <div class="col">
                <select class="form-select" name="book">
                    {% for book in author.books.all %}


                    {% if book not in book.checkouts.all %}
                    <option selected>{{book.title}} </option>
                    {% endif %}



                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mt-2">
            <button type="submit" name="checkout" class="btn btn-primary mb-3">Checkout</button>
        </div>
    </form>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>


</body>

</html>