<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phony Blog</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>



</head>

<body>
  <header>
    <h1>Welcome to Phony Blog</h1>
  </header>
  <hr />
  <main>
    <div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Some Others</a>
        </li>
      </ul>
    </div>
    <div id="linear-gradient"></div>
    <div style="padding: 175px">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="static/AE86Rari.jpg" class="d-block w-100" alt="AE86Rari">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ blogs[0].title }}</h5><h6> by {{ blogs[0].author}}</h6>
            <p>{{ blogs[0].body }}</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="static/roninrifle.jpg" class="d-block w-100" alt="roninrifle">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ blogs[1].title }}</h5><h6> by {{ blogs[1].author}}</h6>
            <p>{{ blogs[1].body }}</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="static/sushi.jpg" class="d-block w-100" alt="sushi">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ blogs[2].title }}</h5><h6> by {{ blogs[2].author}}</h6>
            <p>{{ blogs[2].body }}</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </main>

  <footer>
    <h3>This Phony Blog is a production of dbrunk of class_lemur</h3>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

</body>

</html>