body {
    background-color: #556B2F;
    font-family: 'Kaisei HarunoUmi', serif;
}

h1 {
    color: #ac1e07;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Playball', cursive;
}

p {
    padding: 25px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 15px;
}

h3, a {
    color: #ac1e07;
    text-align: left;
    padding-left: 50px;
}

a:visited {
    color: #ec2d01;
}

li {
    list-style: lower-greek;
    color: yellowgreen;
}