<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>
    <main class="container">

    <h1>Contacts</h1>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Favorite artist</th>
            <th scope="col">Favorite album</th>
            <th scope="col">Favorite song</th>
          </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
            <tr>
                <th scope="col">{{ contact.name }}</th>
                <th scope="col">{{ contact.favorite_artist }}</th>
                <th scope="col">{{ contact.favorite_album }}</th>
                <th scope="col">{{ contact.favorite_song }}</th>
              </tr>
            {% endfor %}
        </tbody>
      </table>

      <form action="/" method="POST">
        {% csrf_token %}
        <div class="form-group mb-3">
          <label for="name">City name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group mb-3">
            <label for="name">Favorite artist</label>
            <input type="text" class="form-control" id="favorite_artist" name="artist">
        </div>
        <div class="form-group mb-3">
            <label for="name">Favorite album</label>
            <input type="text" class="form-control" id="favorite_album" name="album">
        </div>
        <div class="form-group mb-3">
            <label for="name">Favorite song</label>
            <input type="text" class="form-control" id="favorite_song" name="song">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>
      

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

</body>
</html>

